html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.font {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.body {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: hsl(0, 21%, 90%);
}